.raleway-normal {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* share styles */

.primary-color {
  color: #4e47ff;
}

.primary-btn {
  padding: 15px 25px;
  background-color: #4e47ff;
  color: white;
  border: 0px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: rosybrown;
}

.para-text {
  color: #33323d;
}

/* header style */
header {
  background-image: url('../Assets/Hero-bg.png');
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  font-weight: bold;
  font-size: 30px;
}
/* banner section */
.banner {
  padding: 130px 150px;
  text-align: center;
}

.banner-title {
  font-weight: bold;
  font-size: 45px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* action styles */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.action-title > h4 {
  font-weight: bold;
  font-size: 30px;
}

/* users section */
.users {
  background-color: #dad9f0;
  border-radius: 20px;
  padding: 30px 80px;
  text-align: center;
}

.titles {
  font-weight: bold;
  font-size: 30px;
}

.data {
  display: flex;
  justify-content: space-around;
}

.data-content > h2 {
  font-weight: bolder;
  font-size: 50px;
  color: #4e47ff;
}

/* review section */

.review-section {
  padding: 40px 40px;
  text-align: center;
}

.cards {
  background-color: rgb(250, 243, 243);
  border: 0 solid gray;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
}

.reviews-img {
  display: flex;
  align-items: center;
}

.customer-reviews {
  display: flex;
  justify-content: space-between;
}

/* form section starts */

.form-title {
  font-weight: bold;
  font-size: 50px;
}

.form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  background-color: rgb(249, 247, 247);
  border-radius: 10px;
  gap: 30px;
}

.contact-form {
  width: 100%;
}

.contact-form label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 20px;
  height: 15px;
  width: 95%;
  border: 0px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  margin-bottom: 15px;
}

/*footer section  */
.footer-section {
  padding: 80px 200px;
  text-align: center;
  border: 1 solid rgb(43, 42, 42);
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer-list li {
  list-style-type: none;
}

.footer-title {
  font-weight: bolder;
  font-size: 70px;
  color: #4e47ff;
}
